.calculator{
    display: flex;
    justify-content:space-between;
    width:60%;
    align-items: center;
    flex-direction: column;
    height:40rem;
    padding-left: 20%;
    padding-right: 20%;
    margin-top:10%;
}