.calculator-screen {
  width: 40%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: lightblue;
  border-style: solid;
  border-width: 2px;
}

.last-operation {
  width: 20%;
  padding-left: 70%;
}

.last-operation input {
  width: 100%;
  height: 80%;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  background-color: lightblue;
}

.current-operation {
  width: 40%;
  padding-left: 50%;
}

.current-operation input {
  width: 100%;
  height: 80%;
  font-size: 2.5rem;
  text-align: center;
  border: none;
  background-color: lightblue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculator {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  flex-direction: column;
  height: 40rem;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 10%;
}

.calculator-console {
  width: 40%;
  height: 80%;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.divide-button {
  width: 25%;
  height: 20%;
}

.divide-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.divide-button button svg {
  width: 40%;
}

.clear-all-button {
  width: 25%;
  height: 20%;
}

.clear-all-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.clear-all-button p {
  font-size: 1.5rem;
  font-weight: 600;
}

.clear-button {
  width: 25%;
  height: 20%;
}

.clear-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.clear-button p {
  font-size: 1.5rem;
  font-weight: 600;
}

.erase-button {
  width: 25%;
  height: 20%;
}

.erase-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.erase-button button svg {
  width: 30%;
}

.seven-button {
  width: 25%;
  height: 20%;
}

.seven-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.seven-button button svg {
  width: 50%;
}

.eight-button {
  width: 25%;
  height: 20%;
}

.eight-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.eight-button button svg {
  width: 50%;
}

.nine-button {
  width: 25%;
  height: 20%;
}

.nine-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.nine-button button svg {
  width: 50%;
}

.multiply-button {
  width: 25%;
  height: 20%;
}

.multiply-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.multiply-button button svg {
  width: 40%;
}

.four-button {
  width: 25%;
  height: 20%;
}

.four-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.four-button button svg {
  width: 50%;
}

.five-button {
  width: 25%;
  height: 20%;
}

.five-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.five-button button svg {
  width: 50%;
}

.six-button {
  width: 25%;
  height: 20%;
}

.six-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.six-button button svg {
  width: 50%;
}

.minus-button {
  width: 25%;
  height: 20%;
}

.minus-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.minus-button button svg {
  width: 40%;
}

.one-button {
  width: 25%;
  height: 20%;
}

.one-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.one-button button svg {
  width: 50%;
}

.two-button {
  width: 25%;
  height: 20%;
}

.two-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.two-button button svg {
  width: 50%;
}

.three-button {
  width: 25%;
  height: 20%;
}

.three-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.three-button button svg {
  width: 50%;
}

.plus-button {
  width: 25%;
  height: 20%;
}

.plus-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.plus-button button svg {
  width: 40%;
}

.percentage-button {
  width: 25%;
  height: 20%;
}

.percentage-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.percentage-button button svg {
  width: 30%;
}

.zero-button {
  width: 25%;
  height: 20%;
}

.zero-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.zero-button button svg {
  width: 50%;
}

.comma-button {
  width: 25%;
  height: 20%;
}

.comma-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.comma-button button svg {
  width: 30%;
}

.equal-button {
  width: 25%;
  height: 20%;
}

.equal-button button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.equal-button button svg {
  width: 40%;
}

/*# sourceMappingURL=calc.css.map */
